.productList 
{
  padding: 20px;
  flex: 4;
}

.productListTable 
{
  margin-top: 20px;
  display: flex;
  width: 80vw;
  height: 80vh;
}

.productListImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
