.sidebar {
  flex: 1;
  position: sticky;
  background-color: rgb(245, 245, 245);
  height: calc(100vh - 60px);
  top: 60px;
}

.sidebarWrapper {
  padding: 20px;
  padding-top: 0;
  color: #555;
}

.sidebarMenu 
{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 10px;
}

.sidebarTitle 
{
  margin-top: 20px;
  font-size: 16px;
  color: #669b52;
}

.sidebarList 
{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.sidebarListItem {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #D3F3C6;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

